@inherits LayoutComponentBase
@inject NavigationManager NavManager

<div class="page">
    <!-- Sidebar -->
    <div class="sidebar">
        @if (!NavManager.Uri.EndsWith("/"))
        {
            <NavMenu />
        }
    </div>

    <!-- Main Content -->
    <main>
        <article class="content">
            @Body
        </article>
    </main>
</div>