<nav class="nav flex-column custom-sidebar">
    <div class="sidebar-header">
        <a class="navbar-brand" href="/">Genbrugsapp</a>
    </div>
    <ul class="nav flex-column">
        <li class="nav-item">
            <NavLink class="nav-link" href="home" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill"></span> Home
            </NavLink>
        </li>
        <li class="nav-item">
            <NavLink class="nav-link" href="annonce">
                <span class="bi bi-megaphone"></span> Annoncer
            </NavLink>
        </li>
        <li class="nav-item">
            <NavLink class="nav-link" href="MinProfil">
                <span class="bi bi-person-circle"></span> Min Profil
            </NavLink>
        </li>
    </ul>
</nav>